.navBar .btn {
    border-style: solid;
    border-radius: 50px;
    border-width: 2px;
    border-color: white;
    font-weight: 600;
}

 .navBar .btn:hover{
    color: #1cd4b5 !important;
    border-color: #1cd4b5 !important;
    background-color: transparent !important;
}


.navigationLink:hover{
    color: #1cd4b5 !important;
}