
.botonContactoHeroe {
    padding: 24px !important;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 50px !important;
    filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.24));
    background-color: white;
    border-color: #dbdbdb;
}
.botonContactoHeroe:hover{
    background-color: #E8F0F8 !important;
}
