
.App {
  
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.header {
  background-image: url('../public/images/hero_bg.svg') ;
  background-attachment: fixed;
}

/*section1*/
.sectionHome1 {
  padding: 3em;
}

.list {
  list-style-image: url('../public/images/bullet.svg');
}

.list li {
  margin-left: -90px;
  padding-left: 10px;
  vertical-align: top;
  color: gray;
  font-size: 32px;
  transform: scale(0.5);
}


.list li::marker {
  color: #ff2;
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

.mediosDePago {
  padding:5% 0% 5% 0%;
  height: 10em 
}

.ilustracion3 {
  height: 30em;
}
.botonContacto1 {
  border-radius: 290486px;
  padding: 1rem 1.5rem !important;
    height: auto !important;
    border: none !important;
    background-color: #151F2F !important;
    filter: drop-shadow(4px 4px 8px rgba(20, 34, 114, 0.32));
    outline: none !important;
    cursor: pointer;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    display: block;
    margin: auto !important;
}

.sectionHome3 {
  margin-top: 100px;
  padding: 0% 10% 5%;
  position: relative;
}
.sectionHome3:before {
  content: '';
    display: block;
    position: absolute;
    width: 110%;
    height: 90%;
    top: 30%;
    background: linear-gradient(0deg, rgba(34, 193, 195, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
    margin-left: -10%;
    transform: skewY(-7deg);
}

.sectionHome4 {
  padding: 10em;
}


 .sectionContacto{

  height: 550px;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.04);
  border-top-right-radius: 50%;
  border-top-left-radius: 70%;
  padding-top: 100px;
  padding: 0rem 1.5rem;
} 

/*login*/
.loginPage{
  padding: 1em;
  margin: 5em;
}

